.monthsContainer{
    width: 100%;
    background-color: rgb(192 192 219);
    border-radius: 5px;
    height: 49vh;
    overflow-y: auto;
}

.searchingForm{
    margin-top: 5px;
}

.closeBtn{

    position: absolute;
    top: -12px;
    right: 26px;
    font-size: 44px;
    color: black;
    cursor: pointer;
}
.searchingForm select,
.searchingForm button{
    height: 30px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
}
@media (max-width:737px) {
    .searchingForm{
        margin-top: 35px;
    }
    .closeBtn{
        right: 12px
    }
}
@media (max-width:650px) {
    .monthsContainer{
        height: 79vh;
    }
}